:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  min-width: 6000px;
  min-height: 6000px;
  align-items: center;
  justify-content: center;
}

#app {
  position: relative;
  height: 3000px;
  width: 3000px;
  /* border: 1px solid #47ff5e; */
}

.d-none {
  display: none;
}

.ml-2 {
  margin-left: 8px;
}

#settings {
  position: absolute;
  z-index: 9000;
  background: #2c2c2c;
  padding: 8px;
  border-radius: 4px;
  top: 1444px;
  left: 1500px;
  scale: 1.75;
}